@keyframes vague
{
    from
    {
        left: 60%;
        border-left: solid 10px rgba(255, 255, 255, 0);
        background-color: rgba(255, 255, 255, 0);
    }
    70%
    {
        border-left: solid 10px rgba(255, 255, 255, 1);
        background-color: rgba(255, 255, 255, 1);
    }
    90%
    {
        border-left: solid 10px rgba(255, 255, 255, 1);
        background-color: rgba(255, 255, 255, 1);
    }
    to
    {
        border-left: solid 10px rgba(255, 255, 255, 0);
        background-color: rgba(255, 255, 255, 0);
        left: 100%;
    }
}

.scene[data-nom="accueil"]
{
    grid-template-columns: 150px 400px 1500px;
    grid-template-rows: 1000px;
}

.scene[data-nom="accueil"] > .prairie
{
    position: relative;
    background-color: rgba(126, 204, 40);
}

.scene[data-nom="accueil"] > .sable
{
    height: 100%;
    background: linear-gradient(90deg, lightgoldenrodyellow 0%, lightgoldenrodyellow 80%, rgba(126, 204, 40) 100%);
}

.scene[data-nom="accueil"] > .sable > .decor
{
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: repeat(21, 1fr);
    position: relative;
    top: 20px;
    left: 50px;
    row-gap: 20px;
}

.scene[data-nom="accueil"] > .sable > .decor > .serviette
{
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 6px;
    width: 45px;
}

.scene[data-nom="accueil"] > .sable > .decor > .serviette > div
{
    width: 30px;
    height: 10px;
}

.scene[data-nom="accueil"] > .sable > .decor > .serviette > div > div
{
    position: relative;
    left: 75%;
    top: 3px;
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.5);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    z-index: 1;
}

.scene[data-nom="accueil"] > .mer
{
    position: relative;
    background-color: cornflowerblue;
}

.scene[data-nom="accueil"] > .mer > .vague
{
    position: absolute;
    height: 100%;
    width: 14%;
    overflow: hidden;
    animation-name: vague;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.route_pave
{
    display: flex;
    flex-direction: column;
    row-gap: 1px;
}

.pave_ligne
{
    display: flex;
    column-gap: 1px;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pave
{
    background-color: rgb(201, 201, 201);
    border-radius: 8% 9% 7% 10%;
}