@keyframes flouter
{
    from
    {
        filter: blur(0px);
    }

    to
    {
        filter: blur(5px);
    }
}

@keyframes cacher-fond
{
    from
    {
        background-color: rgba(0, 0, 0, 0.0);
    }

    to
    {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

@keyframes montrer-article
{
    from
    {
        left: 50vw;
        top: 50vh;
        width: 0vw;
        min-height: 0vh;
        max-height: 0vh;
    }

    50%
    {
        left: 5vw;
        top: 49.6vh;
        width: 90vw;
        min-height: 0.2vh;
        max-height: 0.2vh;
    }

    to
    {
        left: 25vw;
        top: 5vh;
        width: 50vw;
        min-height: 90vh;
        max-height: 90vh;
    }
}

.scene.cacher, .scene.afficher
{
    animation-name: flouter;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#ombre
{
    display: none;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#ombre.afficher, #ombre.cacher
{
    display: block;
    animation-name: cacher-fond;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

article
{
    display: none;
    position: fixed;
    background-color: white;
    margin-top: 1vh;
    margin-bottom: 1vh;
    min-height: 90vh;
    max-height: 90vh;
    overflow: auto;
    z-index: 1;
}

article.afficher, article.cacher
{
    display: block;
    animation-name: montrer-article;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}