@font-face {
    font-family: habbo_font;
    src: url(../font/PTSansNarrow-Regular.ttf);
}

@font-face {
    font-family: habbo_font;
    src: url(../font/PTSansNarrow-Bold.ttf);
    font-weight: bold;
}

body
{
    margin: 0px;
}

.scene
{
    display: none;
    border: 3px solid black;
    position: relative;
    overflow: scroll;
    height: 90vh;
    width: 90vw;
    top: 5vh;
    left: 5vw;
}

.scene.selection
{
    display: block;
}
