@font-face {
    font-family: habbo_font;
    src: url(../font/PTSansNarrow-Regular.ttf);
}

@font-face {
    font-family: habbo_font;
    src: url(../font/PTSansNarrow-Bold.ttf);
    font-weight: bold;
}

body
{
    margin: 0px;
}

.scene
{
    display: none;
    border: 3px solid black;
    overflow: scroll;
    max-height: 90vh;
    max-width: 90vw;
    height: fit-content;
    width: fit-content;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.scene.selection
{
    display: grid;
}
