#habbo_personnage
{
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 1;
}

.pixel_art div
{
    position: absolute;
}

#habbo_personnage > .pixel_art > div:hover
{
    cursor: pointer;
}

.bulle_habbo_root
{
    width: fit-content;
    z-index: 1;
    transform: translate(-50%);
    margin-bottom: -3px;
}

.bulle_habbo
{
    width: fit-content;
    display: grid;
    grid-template-columns: 40px 1fr;
    position: relative;
    border: solid 2px black;
    border-radius: 7px;
}

#habbo_personnage > .message_liste > .bulle_habbo_root:last-of-type > .bulle_habbo:before
{
    content: "";
    background-color: transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 6.3px;
    height: 4px;
    border-top: solid 2px #cdcdcd;
    border-bottom: solid 2px transparent;
    border-left: solid 2px transparent;
    border-right: solid 2px transparent;
    transform: translate(-50%, 0);
}

#habbo_personnage > .message_liste > .bulle_habbo_root:last-of-type > .bulle_habbo:after
{
    content: "";
    background-color: #cdcdcd;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 6px;
    height: 6px;
    border-top: solid 2px transparent;
    border-bottom: solid 2px black;
    border-left: solid 2px transparent;
    border-right: solid 2px black;
    transform: translate(-50%, -4px) rotate(45deg);
    z-index: -2;
}

.tete_bulle_habbo
{
    width: 40px;
    min-height: 37px;
    z-index: -1;
    background-color: rgb(210, 210, 210);
}

.tete_bulle_habbo > .habbo_tete
{
    position: relative !important;
    left: 5px !important;
    top: 1px !important;
}

.bulle_habbo > .message
{
    padding: 2px 5px 5px 5px;
    background-color: #e3e4e4;
    border-top: outset 7px white;
    border-bottom: outset 3px rgba(255, 255, 255, 0.40);
    border-left: solid 2px rgba(0, 0, 0, 0);
    border-right: solid 2px rgba(0, 0, 0, 0);
    position: relative;
    z-index: -1;
    min-width: max-content;
}

.bulle_habbo > .message > p
{
    font-family: habbo_font;
    font-size: 15px;
    margin: 0px;
    text-align: left;
    max-width: 30vw;
    word-wrap: anywhere;
}

.bulle_habbo > .message > p > span
{
  font-weight: bold;
}

.bulle_habbo > .separation
{
    position: absolute;
    left: 39px;
    height: 100%;
}

.bulle_habbo > .separation > .trait
{
    background-color: black;
    position: absolute;
    width: 1px;
    height: 100%;
    z-index: -1;
}

.bulle_habbo > .separation .pointe
{
    background-color: #e3e4e4;
    position: absolute;
    width: 4px;
    height: 4px;
    border: solid 1px black;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1;
    top: 27px;
    left: 1px;
}

#habbo_personnage > .message_liste
{
    width: fit-content;
    transform: translate(0%, -100%);
    position: relative;
    left: 50%;
    top: -15px;
}

@keyframes monter_message
{
    from
    {
        padding-bottom: var(--padding-debut);
    }

    to
    {
        padding-bottom: var(--padding-fin);
    }
}

#habbo_personnage > .message_liste > .bulle_habbo_root:last-of-type
{
    --total-iteration: 0;
    --padding-debut: 0px;
    --padding-fin: 40px;
    animation-name: monter_message;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1, end);
}
