.route.verticale
{
    height: 958px;
    width: 209px;
    padding: 1px;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: repeat(60, 15px);
    gap: 2px;
}

.route.haut
{
    position: relative;
    left: 50%;
    z-index: 1;
}

.route.haut > .destination
{
    position: absolute;
    bottom: 100%;
    transform: translate(-50%, 0);
}